body {
    display: flex;
    justify-content: center;

    padding: 15rem;
}

tr{
    height: 3rem;
}

td{
    width: 6rem;
}

input{
    height: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

    border: solid black 0.5px;
    border-radius: 8px 8px 8px 8px;
}

#container {
    /* border: solid black 2px; */
    border-radius: 9px 9px 9px 9px;
    /* margin-top: 20rem;
    margin-left: 40rem;
    margin-right: 40rem; */
    height: 20rem;
    width: 30rem;
    box-shadow: 5px 5px 50px 5px;
    

    text-align: center;
    justify-content: center;
    align-content: center;
}

table {
    align-self: center;
    /* border: solid black 2px; */
}

select {
    padding: 0.3rem;
    border-radius: 5px 5px 5px 5px;
}

.MenuBar {
    /* border: solid black 2px; */
    display: flex;
    justify-content: center;
}

#addContainer{
    /* border: solid black 2px; */
    border-radius: 9px 9px 9px 9px;
    box-shadow: 5px 5px 50px 5px;

    width: 30rem;
    height: 20rem;
    text-align: center;
}

.addBar{
    display: flex;
    justify-content: center;
}