body{
    /* border: solid 2px black; */
    background: linear-gradient(to right, #675656,#C68A7E);
}
.container{
    padding-top: 5rem;
    /* border: solid 2px black; */
    display: flex;
    justify-content: center;
    height: 30rem;
}
.nav{
    /* border: solid 2px black; */
    padding-top: 3rem;
    width: 30rem;
    height: 20rem;
    align-content: center;
    display: flex;
    justify-content: center;
}
button{
    font-size: 18pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 2rem;
    width: 13rem;
    height: 16rem;
}
button:hover{
    background-color: #a5a5a5;
    color: white;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50pt;
}